@page "/bookings"
@using BookingSystem.Data.Repositories.Interface;
@inject IBookingRepository bookingRepository

<PageTitle>Bookings</PageTitle>

<h1>Bookings</h1>

@if (bookings == null)
{
    <p><em>Loading bookings...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact number</th>
                <th>Booking date</th>
                <th>Flexibility</th>
                <th>Vehicle size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in bookings)
            {
                <tr>
                    <td>@booking.Name</td>
                    <td>@booking.EmailAddress</td>
                    <td>@booking.ContactNumber</td>
                    <td>@booking.BookingDate</td>
                    <td>@booking.Flexibility</td>
                    <td>@booking.VehicleSize</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<BookingSystem.Data.Domain.Booking>? bookings;

    protected override async Task OnInitializedAsync()
    {
        bookings = await bookingRepository.GetAllBookings();
    }
}
